<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up!</title>
    <link rel="stylesheet" href="style.css" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;500;700;800&display=swap");
    </style>
  </head>
  <html>
    <body class="col-12 bg-color">
      <div class="container">
        <div class="text-center">
          <br /><br />
          <h1>Animal Crossing</h1>
          <h3>Guess the Word!</h3>
          <img
            class="text-center"
            height="200"
            width:auto
            src="https://image.jimcdn.com/app/cms/image/transf/dimension=1070x10000:format=png/path/s2d75ac45bde449f0/image/ie1a596faec4848b8/version/1560528561/image.png"
          />
          <br />
        </div>
        <div id="signupDiv" class="d-flex justify-content-center flex-column">
          <br />
          <p id="errortext" class="d-none text-center"></p>
          <h1 class="text-dark text-center">Sign Up!</h1>
          <div class="p-3 rounded input-group-lg">
            <label for="name" class="">Name:</label><br />
            <input
              type="text"
              id="name"
              name="name"
              class="form-control"
              size="50"
              required
            /><br />
            <label for="email" class="">Email:</label><br />
            <input
              type="text"
              id="email"
              name="email"
              class="form-control"
              size="50"
              required
            /><br />
            <label for="password" class="">Password:</label><br />
            <input
              type="password"
              id="password"
              name="password"
              class="form-control"
              size="50"
              required
            /><br /><br />
            <div class="text-center">
              <button id="signupBtn" class="button-cyan" type="submit">
                Sign Up
              </button>
            </div>
          </div>
        </div>
      </div>
      <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
        crossorigin="anonymous"
      />
      <script src="https://cdn.jsdelivr.net/npm/js-loading-overlay@1.1.0/dist/js-loading-overlay.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
      <script src="signupscript.js"></script>
    </body>
  </html>
</html>
